doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    #sign-in-overlay
      .login-box
        .login
          if user
            br
            form(action='/tube/logout', method='POST')
              input(type='submit', value='Logout')
          else
            form(action='/tube/login', method='POST')
              if nameError
                p= nameError
              label(for='user-name') User Name:
                input#user-name(type='text', name='userName')
              if passwordError
                p= passwordError
              label(for='password') Password:
                input#password(type='password', name='password')
              input(type='submit', value='Login')
              input#cancel-button(type='button', value='Cancel')
    .nav-section
      .container
        div.user-header
          if user
            a(href='/tube/user/' + userId)
            if userImg
              img#profile-image(src=userImg)
            else
              img#profile-image(src='/images/futurama-clone.jpg')
          div.user-info
            if user
              a#dasboard-link(href='/tube/user/' + userId) #{user}'s Dashboard
              a(href='/tube/logout') Log Out
        ul
          li
            a(href='/') Home
          if !user
            li
              a(href='/tube/sign-up') Sign Up
            li
              a(href='/tube/sign-up') Post Video
          else
            li
              a(href='/tube/new-video/' + userId) Post Video
          li
            a(href='/tube') All Videos
          if !user
            li  
              a#sign-in(href='#') Log In
    script(src='/javascripts/layout.js')
    block content
