extends layout

block content
  .main
    .container
      h1 New Video
      form(action='/tube/new-video/' + userId, method='POST')
        label(for='name') Name:
        if inputError
          if inputError.nameError
            p(style='color: red')= inputError.nameError
        if formData
          input#name(type='text', name='name', autofocus, placeholder='Video Name Here', value=formData.name)
        else
          input#name(type='text', name='name', autofocus, placeholder='Video Name Here')
        label(for='url') YouTube Url:
        if inputError
          if inputError.urlError
            p(style='color: red')= inputError.urlError
        if formData
          input#url(type='text', name='url', placeholder='https://www.youtube.com/watch?v=QkdXacbjlwM', value=formData.url)
        else
          input#url(type='text', name='url', placeholder='https://www.youtube.com/watch?v=QkdXacbjlwM')
        label(for='description') Description
        if formData
          textarea#description(name='description')=formData.description
        else
          textarea#description(name='description')
        input(style='display: none', type='text', name='views', value=0)
        input(style='display: none', type='text', name='likes')
        input(style='display: none', type='text', name='dislikes')
        br
        input#button(type='submit', value='Add Video')
  .footer
    .container
