extends layout

block content
  .main
    .container
      h1 Edit
      h1= video.name
      iframe(src='https://www.youtube.com/embed/' + video.url, height='390', width='480', title='YouTube Video Player')
      h4 Description:
      p= video.description
      form(action='/tube/video/edit/' + video._id, method='POST')
        label(for='name') Current Title:
        input#name(type='text', name='name', value=video.name)
        label(for='description') Current Description:
        textarea#description(name='description')=video.description
        input.hide-me(type='text', value=video.url, name='url')
        input.hide-me(type='text', value=video.userId, name='userId')
        input(type='submit', value='Update!')
      br
      a(href='/tube/delete/' + video._id) Delete
