extends layout

block content
  iframe(src=video.url, height='490', width='580', title='YouTube Video Player')
  br
  #video-header
    h1= video.name
    p Added By: #{userInfo.userName}
  #description-section
    h2 Description:
    p= video.description
  #user-comments
    #comments
      if user
        h3 Comments
        textarea#comment-input(name='comments') What's on Your Brain Noodle?
        br
        input#comment-submit(type='button', value='Post')
  a(href='/tube') To All Videos
  br
  a(href='/') Home
  p#posted-by(style='display: none')= user
  
  script(src='/javascripts/client.js')
