extends layout

block content
  iframe(src=video.url, height='490', width='580', title='YouTube Video Player')
  br
  #video-header
    h1= video.name
    p Added By: #{userInfo.userName}
    p Views: #{video.views}
  #description-section
    h2 Description:
    p= video.description
  #user-comments
    #comments
      if user
        h3 Comments
        textarea#comment-input(name='comments') What's on Your Brain Noodle?
        br
        input#comment-submit(type='button', value='Post')
    #new-comments
    if comments
      for com in comments
        .single-comment
          p #{com.user} said:
          p= com.comment
  a(href='/tube') To All Videos
  br
  p#posted-by(style='display: none')= user
  p#video-id(style='display: none')= video._id
  
  script(src='/javascripts/client.js')
